.row
  .sign-up
    %h1 Sign Up
    = twitter_bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = f.email_field :email
      = f.text_field :nickname
      = f.password_field :password
      = f.password_field :password_confirmation
      = f.actions do
        = f.submit 'Sign Up'
