.row
  .recipe-form-box
    = twitter_bootstrap_form_for @recipe, :html => { class: 'recipe-form' } do |f|
      = f.text_field :name
      = f.text_area :body
      = f.actions do
        = f.submit 'Save'
        %button.cancel Cancel
  .recipe-help
    = preserve render :partial => 'shared/markdown_cheatsheet'
