= twitter_bootstrap_form_for @user, :url => @user.new_record? ? users_path : update_user_path do |f|
  = f.text_field :email
  = f.text_field :nickname
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.actions do
    - if @user.new_record?
      = f.submit 'Register'
    - else
      = f.submit 'Save'
