!!! 5
%html
  %head
    %title tastebin
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          %a.brand{href: '#'} tasteb.in
          = tabs_tag open_tabs: { class: 'nav' } do |tab|
            = tab.new_recipe 'New', '#'
            = tab.latest_recipes 'Latest', '#'
    .container
      = yield
