!!! 5
%html
  %head
    %title tastebin
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          %a.brand{href: root_path} tasteb.in
          = tabs_tag open_tabs: { class: 'nav' } do |tab|
            = tab.new_recipe 'New', new_recipe_path
            = tab.latest_recipes 'Latest', recipes_path
          %ul.nav.secondary-nav
            - if current_user
              %li
                = link_to "Log Out", logout_path
              %li
                = link_to current_user.nickname, edit_user_path
            - else
              %li= link_to "Register", new_user_path
              %li= link_to "Log In", login_path
    .container
      - if flash[:alert]
        .alert-message.error.fade.in{:'data-alert' => true}
          %a.close{href: "#"} x
          %p= flash[:alert]
      - if flash[:notice]
        .alert-message.warning.fade.in{:'data-alert' => true}
          %a.close{href: "#"} x
          %p= flash[:notice]
      = yield
