!!! 5
%html
  %head
    %title tastebin
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{href: root_path} tasteb.in
          = tabs_tag open_tabs: { class: 'nav' } do |tab|
            = tab.new_recipe 'New', new_recipe_path
            = tab.latest_recipes 'Latest', recipes_path
          %ul.nav.pull-right
            - if current_user
              %li
                = link_to "Log Out", logout_path
              %li
                = link_to current_user.nickname, edit_user_path
            - else
              %li= link_to "Register", new_user_path
              %li= link_to "Log In", login_path
    .container
      - if flash[:alert]
        .alert.alert-error
          %a.close{href: "#", :'data-dismiss' => 'alert'} x
          = flash[:alert]
      - if flash[:notice]
        .alert.alert-warning
          %a.close{href: "#", :'data-dismiss' => 'alert'} x
          = flash[:notice]
      = yield
